body {
    margin: 0px;
    padding: 0px;

}

.font-family-inter {
    font-family: 'Inter', sans-serif;
}

.font-family-merriweather .header-title {
    font-family: 'Merriweather', serif;
}

.background {
    background-image: url('../resources/Banner\ Image.png');
    width: 84%;
    margin: 0 auto;
    max-width: 1320px;

    margin: 0 auto;
    background-repeat: no-repeat;
}

.background-color {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    position: relative;
}

header {
    color: #FFF;
    text-align: center;



}

#newyear {
    font-size: 32px;
    padding-top: 177px;
    font-size: 32px;

    font-weight: 400;
    ;
}

#celebration-title {
    font-size: 72px;
    padding-bottom: 177px;
    font-size: 72px;
    font-weight: 900;
}

.red {
    color: #FF0000;
}

.black {
    color: #070211;
}

.s1-text-container {
    text-align: center;
}

#s1-offer {
    margin-top: 120px;
    margin-bottom: 48px;
    font-size: 88px;
    font-weight: 700;
}

#holiday-deals {
    font-size: 24px;
    font-weight: 500;
}

#categaries {
    font-size: 48px;

    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 48px;
}

#new-year-photo {
    width: 49%;
    margin: 0 auto;
    max-width: 802px;
    padding-bottom: 120px;
}

#s2 {
    background-image: url('../resources/Vectorrr.png');
    width: 84%;
    margin: 0 auto;
    max-width: 1320px;
    height: 600px;
    background-repeat: no-repeat;


}

#s2 {
    display: flex;

}

#h2title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;

    letter-spacing: 7.04px;
    padding-left: 126px;
    padding-top: 90px;
}

#s2info {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 126px;
}

#join-button {
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-left: 158px;
    padding-top: 48px;

}

#groupimg {
    padding-top: 68px;
}

.s3text {
    text-align: center;

    font-size: 32px;
    font-style: normal;
    font-weight: 600;

    text-transform: capitalize;
}

#s3 {
    padding-top: 120px;
    padding-bottom: 170px;
}

.s3container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 84%;
    margin: 0 auto;
    max-width: 1320px;
    height: 482px;
    text-align: center;
}

.s3styles {
    padding-top: 100px;
}

.btn-container {
    padding-top: 48px;
}

button {
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
}

.s4-container {
    display: flex;
    width: 84%;
    margin: 0 auto;
    max-width: 1320px;
    justify-content: space-around;
    padding-bottom: 120px;
}

.deal {
    font-size: 24px;
    font-weight: 500;
    padding-top: 104px;
    font-family: 'Inter', sans-serif;
}

.header-title {
    font-size: 48px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
}

.title-detals {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
}

#img-cborder {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 49px;
}

.s4new-year {
    padding-top: 112px;
    font-size: 48px;
    font-weight: 700;
}

.s5-container {
    width: 84%;
    margin: 0 auto;
    max-width: 1320px;
    padding-bottom: 120px;
}

.gift-pic {
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    cursor: pointer;
    max-width: 424px;

    column-gap: 24px;
    padding-top: 48px;
    padding-bottom: 120px;
}

.gap-between-pic {
    padding-bottom: 24px;
}

.s6-container {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 84%;
    margin: 0 auto;
    max-width: 1320px;
    padding-bottom: 120px;
    text-align: center;
}

.s6-img {
    padding-top: 80px;
    padding-bottom: 40px;
}

#newsletter form {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
}

#newsletter input {
    flex-grow: 1;
    border-radius: 50px 0px 0px 50px;
    border: none;
    padding: 30px; 
color: rgba(7, 2, 17, 0.30);
font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 400;

}

.Subscribe {
    border-radius: 0px 50px 50px 0px;
}

#footer-container {
    padding-top: 120px;
}

footer {
    padding-top: 120px;
    background: #070211;
    margin: 0 auto;
    max-width: 1600px;
}

.footer-contain {
    width: 84%;
    margin: 0 auto;
    max-width: 1320px;
    padding-top: 120px;
}

.footer-address {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.address-img {
    width: 24px;
    height: 24px;
    padding-right: 16px;
}

.social-img {
    text-align: center;
    padding-top: 98px;
}

.social-img-padding {
    padding-right: 24px;
}

.right-section {
    padding-bottom: 120px;
    padding-top: 98px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}